 .login-container {
  width: 350px;
  background-color: #2a2a3f;
  padding: 30px 25px;
  border-radius: 15px;
  border: 2px solid #0f9d58;
  box-shadow: 0 0 15px rgba(0, 255, 100, 0.1);
  text-align: center;

  /* Changes below */
  position: relative;   /* remove absolute */
  top: auto;
  left: auto;
  transform: none;
  margin: 80px auto; 
  margin-bottom: 170px;   /* centers horizontally, adds space from top */
}

/* Title */
.login-title {
  font-size: 24px;
  color: #0f9d58;
  margin-bottom: 25px;
}

/* Input group */
.input-group {
  margin-bottom: 15px;
  margin-right: 25px;
}

/* Input fields */
.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #0f9d58;
  background-color: #1b1b36;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.input-field:focus {
  border-color: #13c86a;
  box-shadow: 0 0 5px #0f9d58;
}

/* Button */
.login-button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #0f9d58;
  color: #0b0b20;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #19ff72;
  transform: translateY(-2px);
}

/* Signup link */
.signup-text {
  margin-top: 15px;
  font-size: 14px;
  color: #fff;
}

.signup-text a {
  color: #0f9d58;
  font-weight: bold;
  transition: 0.3s;
}

.signup-text a:hover {
  color: #ffffff;
}