.themes-section {
  width: 90%;
  min-height: 100vh;
  background: #0b0b20;
  display: grid;
  grid-template-columns: 33% 33% 33%;
 
  padding : 0;
  color: #fff;
  margin-left : 5%;
}
.view-btn {
  padding: 10px 14px;
  font-size: 14px;
  background:  #19ff72;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #0b0b20;
  font-weight: bold;
  transition: 0.3s;
}

.view-btn:hover {
  background: #0f9d58;
  transform: scale(1.05);
}

.create-btncontainer {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.create-theme-btn {
  width: 50%;
  max-width: 380px;
  padding: 18px;
  font-size: 20px;
  font-weight: bold;
  background: #0f9d58;
  border: none;
  border-radius: 12px;
  color: #0b0b20;
  cursor: pointer;
  margin-bottom: 40px;
  transition: 0.3s;
 
}

.create-theme-btn:hover {
  background: #19ff72;
  transform: translateY(-3px);
}


.themes-grid {
  
 height: 100px;
  padding: 100px 5px;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: none; 
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  z-index: 1000;
}


.modal-box {
  background: #2a2a3f;
  padding: 30px;
  width: 380px;
  border-radius: 15px;
  border: 2px solid #0f9d58;
  box-shadow: 0 0 18px rgba(0,255,100,0.15);
  position: relative;
}


.modal-title {
  color: #19ff72;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.modal-input-group {
  margin-bottom: 15px;
}

.modal-input-group label {
  color: #ddd;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

.modal-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #0f9d58;
  background:#1b1b36;
  color: #fff;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.modal-input:focus {
  border-color: #19ff72;
}


.modal-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.create-btn,
.modify-btn {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.create-btn {
  background: #0f9d58;
  color: #0b0b20;
}

.modify-btn {
  background: #ffc107;
  color: #0b0b20;
}

.create-btn:hover {
  background: #19ff72;
  transform: scale(1.05);
}

.modify-btn:hover {
  background: #ffda47;
  transform: scale(1.05);
}


.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

.errorThemeModal {
  background-color: #1b1b36;
}

@media (max-width: 992px) {
  .themes-section {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
  .themes-section {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-left : 5px;
  }
}

.input-group input[type="number"] {
    width: 107%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #0f9d58;
    background-color: #1b1b36;
    color: #fff;
    font-size: 15px;
    outline: none;
    transition: 0.3s;
}

.input-group input[type="number"]:focus {
    border-color: #13c86a;
    box-shadow: 0 0 5px #0f9d58;
}

.theme-card {
  background: #1b1e25;
  padding: 25px;
  border-radius: 18px;
  border: 10px solid #000000;
  text-align: center;
  box-shadow: 0 0 18px rgba(0, 255, 100, 0.13);
  transition: 0.3s;
}

.theme-card:hover {
  transform: translateY(-7px);
  box-shadow: 0 0 25px rgba(0, 255, 100, 0.25);
}


.theme-name {
  font-size: 22px;
  font-weight: bold;
  color: #19ff72;
  margin-bottom: 10px;
}


.theme-details {
  font-size: 16px;
  color: #d1d1d1;
  margin-bottom: 20px;
}


.card-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
}


.modify-btn {
  padding: 10px 14px;
  font-size: 14px;
  background: #0066ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.modify-btn:hover {
  background: #338cff;
  transform: scale(1.05);
}


.delete-btn {
  padding: 10px 14px;
  font-size: 14px;
  background: #e63946;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

.delete-btn:hover {
  background: #ff606d;
  transform: scale(1.05);
}
#thememodalerror {
  text-align: center;
  margin-top : 5px;
}
